In [1]:
import pandas as pd
from sklearn.metrics import *
from tqdm import tqdm
from utils import Load_Rumours_Dataset_filtering_since_first_post_Transfer_Learning
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import xgboost as xgb
from imblearn.over_sampling import SMOTE
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import RobustScaler
from sklearn.utils.class_weight import compute_class_weight

In [2]:
import mlflow
mlflow.set_tracking_uri("sqlite:///mlflow.db")
#mlflow.set_experiment("spyder-experiment")
import mlflow.pytorch
#mlflow.set_experiment("Xgboost experiments 2024-09-26 SMOTE")

In [3]:
train_dataset = 'charlie_hebdo'
#test_dataset = 'germanwings_crash'
test_dataset = 'ferguson'
time_cut =3*60*24
processor = Load_Rumours_Dataset_filtering_since_first_post_Transfer_Learning(train_dataset,\
           test_dataset, time_cut=time_cut,test_size=0.7)

processor.load_data()
processor.process_data()
train,test = processor.get_final_dataframes()

rumour
0    476
1    229
Name: count, dtype: int64

In [4]:
X_train  = train.drop(columns=['rumour'])
X_train = np.hstack([X_train.drop(columns=['embeddings_avg']).values, np.array(pd.DataFrame(X_train.embeddings_avg.tolist()))])
#X = np.hstack([X.drop(columns=['embeddings_avg']).values, np.array(pd.DataFrame(X.embeddings_avg.tolist()))])
y_train =train['rumour']

X_test  = test.drop(columns=['rumour'])
X_test = np.hstack([X_test.drop(columns=['embeddings_avg']).values, np.array(pd.DataFrame(X_test.embeddings_avg.tolist()))])
#X = np.hstack([X.drop(columns=['embeddings_avg']).values, np.array(pd.DataFrame(X.embeddings_avg.tolist()))])
y_test =test['rumour']

In [5]:
# Compute class weights to handle imbalance
classes = np.unique(y_train)
class_weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)
class_weight_dict = dict(zip(classes, class_weights))

In [15]:
# Compute class weights to handle imbalance
classes = np.unique(y_train)
class_weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)
class_weight_dict = dict(zip(classes, class_weights))

# Initialize Random Forest with class weights
model = RandomForestClassifier(
    n_estimators=250,
    max_depth=2,
    min_samples_split=2,
    min_samples_leaf=1,
    max_features='sqrt',
    class_weight=class_weight_dict,  # Handles imbalance
    n_jobs=-1,
    random_state=42
)

# Train the model
model.fit(X_train, y_train)

# Predict and evaluate

y_proba_test = model.predict_proba(X_test)[:, 1]  # For ROC AUC

y_proba_train = model.predict_proba(X_train)[:, 1]  # For ROC AUC

In [16]:

thresholds = np.linspace(0.01, 0.99, 100)
f1_scores = [f1_score(y_train, (y_proba_train > t).astype(int)) for t in thresholds]
best_idx = np.argmax(f1_scores)
best_threshold = thresholds[best_idx]

y_train_pred = (y_proba_train > best_threshold).astype(int)
y_test_pred = (y_proba_test > best_threshold).astype(int)

# Evaluation function
def evaluate(y_true, y_pred, y_prob, label=""):
    print(f"  - Accuracy:  {accuracy_score(y_true, y_pred):.4f}")
    print(f"  - Precision: {precision_score(y_true, y_pred):.4f}")
    print(f"  - Recall:    {recall_score(y_true, y_pred):.4f}")
    print(f"  - AUC:       {roc_auc_score(y_true, y_prob):.4f}")
    print("")

# Show metrics
evaluate(y_train, y_train_pred, y_proba_train, label="Train")
evaluate(y_test, y_test_pred, y_proba_test, label="Test")

  - Accuracy:  0.8560
  - Precision: 0.6265
  - Recall:    0.7453
  - AUC:       0.8911

  - Accuracy:  0.7191
  - Precision: 0.7925
  - Recall:    0.1834
  - AUC:       0.7306

In [3]:
import mlflow
mlflow.set_tracking_uri("sqlite:///mlflow.db")
#mlflow.set_experiment("spyder-experiment")
import mlflow.pytorch
mlflow.set_experiment("Random Forest  2025-06-22 Sydney Siege TF")

2025/06/22 18:01:56 INFO mlflow.tracking.fluent: Experiment with name 'Random Forest  2025-06-22 Sydney Siege TF' does not exist. Creating a new experiment.

<Experiment: artifact_location='/workspaces/rumour-detection-gnn/mlruns/90', creation_time=1750615316896, experiment_id='90', last_update_time=1750615316896, lifecycle_stage='active', name='Random Forest  2025-06-22 Sydney Siege TF', tags={}>

#### Testing draft model

In [4]:
for time_cut in range(10, (60 * 24 * 3), 15):
    print(f"\n=== Time Cut: {time_cut} ===")
    
    train_dataset = 'charlie_hebdo'
    #test_dataset = 'germanwings_crash'
    #test_dataset = 'ottawashooting'
    test_dataset = 'sydneysiege'
    #test_dataset = 'ferguson'
    time_cut =time_cut
    processor = Load_Rumours_Dataset_filtering_since_first_post_Transfer_Learning(train_dataset,\
               test_dataset, time_cut=time_cut,test_size=0.7)
    
    processor.load_data()
    processor.process_data()
    train,test = processor.get_final_dataframes()

    X_train = train.drop(columns=['rumour'])
    X_train = np.hstack([
        X_train.drop(columns=['embeddings_avg']).values, 
        np.array(pd.DataFrame(X_train.embeddings_avg.tolist()))
    ])
    y_train = train['rumour']

    X_test = test.drop(columns=['rumour'])
    X_test = np.hstack([
        X_test.drop(columns=['embeddings_avg']).values, 
        np.array(pd.DataFrame(X_test.embeddings_avg.tolist()))
    ])
    y_test = test['rumour']

    # Compute class weights to handle imbalance
    classes = np.unique(y_train)
    class_weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train)
    class_weight_dict = dict(zip(classes, class_weights))
    
    model = RandomForestClassifier(
        n_estimators=50,
        max_depth=2,
        min_samples_split=2,
        min_samples_leaf=1,
        max_features='sqrt',
        class_weight=class_weight_dict,
        n_jobs=-1,
        random_state=42
    )

    with mlflow.start_run(run_name=f"time_cut_{time_cut}"):
        model.fit(X_train, y_train)

        # Probabilities
        y_train_prob = model.predict_proba(X_train)[:, 1]
        y_test_prob = model.predict_proba(X_test)[:, 1]

        # Find best threshold to maximize F1 on train set
        #thresholds = np.linspace(0.01, 0.99, 100)
        #f1_scores = [f1_score(y_train, (y_train_prob > t).astype(int)) for t in thresholds]
        #best_idx = np.argmax(f1_scores)
        #best_threshold = thresholds[best_idx]
        best_threshold = 0.5

        # Apply best threshold
        y_train_pred = (y_train_prob > best_threshold).astype(int)
        y_test_pred = (y_test_prob > best_threshold).astype(int)

        # Train metrics
        mlflow.log_metric("train_accuracy", accuracy_score(y_train, y_train_pred))
        mlflow.log_metric("train_precision", precision_score(y_train, y_train_pred))
        mlflow.log_metric("train_recall", recall_score(y_train, y_train_pred))
        mlflow.log_metric("train_f1", f1_score(y_train, y_train_pred))
        mlflow.log_metric("train_auc", roc_auc_score(y_train, y_train_prob))

        # Test metrics
        mlflow.log_metric("final_acc", accuracy_score(y_test, y_test_pred))
        mlflow.log_metric("final_precision", precision_score(y_test, y_test_pred))
        mlflow.log_metric("final_recall", recall_score(y_test, y_test_pred))
        mlflow.log_metric("final_f1", f1_score(y_test, y_test_pred))
        mlflow.log_metric("final_auc", roc_auc_score(y_test, y_test_prob))

        # Log best threshold and time_cut
        mlflow.log_metric("optimal_threshold", best_threshold)
        mlflow.log_metric("time_cut", time_cut)

=== Time Cut: 10 ===
rumour
0    5
1    2
Name: count, dtype: int64

=== Time Cut: 25 ===
rumour
0    15
1     7
Name: count, dtype: int64

=== Time Cut: 40 ===
rumour
0    26
1    16
Name: count, dtype: int64

=== Time Cut: 55 ===
rumour
0    39
1    21
Name: count, dtype: int64

=== Time Cut: 70 ===
rumour
0    47
1    25
Name: count, dtype: int64

=== Time Cut: 85 ===
rumour
0    56
1    26
Name: count, dtype: int64

=== Time Cut: 100 ===
rumour
0    61
1    34
Name: count, dtype: int64

=== Time Cut: 115 ===
rumour
0    65
1    46
Name: count, dtype: int64

=== Time Cut: 130 ===
rumour
0    69
1    59
Name: count, dtype: int64

=== Time Cut: 145 ===
rumour
0    73
1    66
Name: count, dtype: int64

=== Time Cut: 160 ===
rumour
0    81
1    69
Name: count, dtype: int64

=== Time Cut: 175 ===
rumour
0    88
1    74
Name: count, dtype: int64

=== Time Cut: 190 ===
rumour
0    92
1    86
Name: count, dtype: int64

=== Time Cut: 205 ===
rumour
1    99
0    97
Name: count, dtype: int64

=== Time Cut: 220 ===
rumour
1    114
0    103
Name: count, dtype: int64

=== Time Cut: 235 ===
rumour
1    127
0    109
Name: count, dtype: int64

=== Time Cut: 250 ===
rumour
1    134
0    114
Name: count, dtype: int64

=== Time Cut: 265 ===
rumour
1    144
0    128
Name: count, dtype: int64

=== Time Cut: 280 ===
rumour
1    145
0    140
Name: count, dtype: int64

=== Time Cut: 295 ===
rumour
1    147
0    147
Name: count, dtype: int64

=== Time Cut: 310 ===
rumour
0    159
1    153
Name: count, dtype: int64

=== Time Cut: 325 ===
rumour
0    170
1    157
Name: count, dtype: int64

=== Time Cut: 340 ===
rumour
0    181
1    164
Name: count, dtype: int64

=== Time Cut: 355 ===
rumour
0    190
1    165
Name: count, dtype: int64

=== Time Cut: 370 ===
rumour
0    200
1    166
Name: count, dtype: int64

=== Time Cut: 385 ===
rumour
0    215
1    166
Name: count, dtype: int64

=== Time Cut: 400 ===
rumour
0    221
1    169
Name: count, dtype: int64

=== Time Cut: 415 ===
rumour
0    238
1    170
Name: count, dtype: int64

=== Time Cut: 430 ===
rumour
0    247
1    172
Name: count, dtype: int64

=== Time Cut: 445 ===
rumour
0    263
1    172
Name: count, dtype: int64

=== Time Cut: 460 ===
rumour
0    273
1    172
Name: count, dtype: int64

=== Time Cut: 475 ===
rumour
0    291
1    174
Name: count, dtype: int64

=== Time Cut: 490 ===
rumour
0    301
1    175
Name: count, dtype: int64

=== Time Cut: 505 ===
rumour
0    313
1    177
Name: count, dtype: int64

=== Time Cut: 520 ===
rumour
0    320
1    179
Name: count, dtype: int64

=== Time Cut: 535 ===
rumour
0    331
1    179
Name: count, dtype: int64

=== Time Cut: 550 ===
rumour
0    345
1    181
Name: count, dtype: int64

=== Time Cut: 565 ===
rumour
0    360
1    181
Name: count, dtype: int64

=== Time Cut: 580 ===
rumour
0    367
1    182
Name: count, dtype: int64

=== Time Cut: 595 ===
rumour
0    376
1    182
Name: count, dtype: int64

=== Time Cut: 610 ===
rumour
0    387
1    184
Name: count, dtype: int64

=== Time Cut: 625 ===
rumour
0    395
1    185
Name: count, dtype: int64

=== Time Cut: 640 ===
rumour
0    400
1    185
Name: count, dtype: int64

=== Time Cut: 655 ===
rumour
0    406
1    187
Name: count, dtype: int64

=== Time Cut: 670 ===
rumour
0    415
1    196
Name: count, dtype: int64

=== Time Cut: 685 ===
rumour
0    431
1    197
Name: count, dtype: int64

=== Time Cut: 700 ===
rumour
0    439
1    197
Name: count, dtype: int64

=== Time Cut: 715 ===
rumour
0    450
1    199
Name: count, dtype: int64

=== Time Cut: 730 ===
rumour
0    459
1    206
Name: count, dtype: int64

=== Time Cut: 745 ===
rumour
0    468
1    245
Name: count, dtype: int64

=== Time Cut: 760 ===
rumour
0    485
1    269
Name: count, dtype: int64

=== Time Cut: 775 ===
rumour
0    523
1    285
Name: count, dtype: int64

=== Time Cut: 790 ===
rumour
0    530
1    286
Name: count, dtype: int64

=== Time Cut: 805 ===
rumour
0    532
1    286
Name: count, dtype: int64

=== Time Cut: 820 ===
rumour
0    533
1    286
Name: count, dtype: int64

=== Time Cut: 835 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 850 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 865 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 880 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 895 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 910 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 925 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 940 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 955 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 970 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 985 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1000 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1015 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1030 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1045 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1060 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1075 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1090 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1105 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1120 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1135 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1150 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1165 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1180 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1195 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1210 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1225 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1240 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1255 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1270 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1285 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1300 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1315 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1330 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1345 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1360 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1375 ===
rumour
0    534
1    286
Name: count, dtype: int64

=== Time Cut: 1390 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1405 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1420 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1435 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1450 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1465 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1480 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1495 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1510 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1525 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1540 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1555 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1570 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1585 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1600 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1615 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1630 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1645 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1660 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1675 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1690 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1705 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1720 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1735 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1750 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1765 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1780 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1795 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1810 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1825 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1840 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1855 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1870 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1885 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1900 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1915 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1930 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1945 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1960 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1975 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 1990 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2005 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2020 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2035 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2050 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2065 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2080 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2095 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2110 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2125 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2140 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2155 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2170 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2185 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2200 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2215 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2230 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2245 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2260 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2275 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2290 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2305 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2320 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2335 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2350 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2365 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2380 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2395 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2410 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2425 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2440 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2455 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2470 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2485 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2500 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2515 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2530 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2545 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2560 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2575 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2590 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2605 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2620 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2635 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2650 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2665 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2680 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2695 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2710 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2725 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2740 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2755 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2770 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2785 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2800 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2815 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2830 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2845 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2860 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2875 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2890 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2905 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2920 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2935 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2950 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2965 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2980 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 2995 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3010 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3025 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3040 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3055 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3070 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3085 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3100 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3115 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3130 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3145 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3160 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3175 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3190 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3205 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3220 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3235 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3250 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3265 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3280 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3295 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3310 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3325 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3340 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3355 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3370 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3385 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3400 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3415 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3430 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3445 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3460 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3475 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3490 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3505 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3520 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3535 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3550 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3565 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3580 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3595 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3610 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3625 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3640 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3655 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3670 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3685 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3700 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3715 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3730 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3745 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3760 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3775 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3790 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3805 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3820 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3835 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3850 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3865 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3880 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3895 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3910 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3925 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3940 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3955 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3970 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 3985 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 4000 ===
rumour
0    535
1    286
Name: count, dtype: int64

=== Time Cut: 4015 ===
rumour
0    535
1    286
Name: count, dtype: int64
